/* Universal */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  padding: 0 auto;
}

.caption {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  width: 70rem;
  margin: auto;
}

.container {
  padding: 0;
}

/* Navigation */
.navbar-default .navbar-nav > .active > a {
  background-color: inherit;
  color: #399bd1;
  font-weight: 600;

}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: black;
}


/* Jumbotron */

.jumbotron {
  height: 57rem;
  margin-top: 40px;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  font-family: 'Monoton';
  color: white;
  text-align: center;
  font-size: 11.1rem;
  text shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                 1px 1px 0 #000;
}

.background-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.background-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.background-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.background-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

.relative-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  top: -25rem;
}

.btn {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0,0,0,0,5);
  width: 15.4rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  margin-top: 2.8rem;
  text-align: center;
}

.btn:hover {
  box-shadow: 0 0 12px rgba(0,0,0,0.9);
}

.btn:active {
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

/*Row 1*/

.featured-section {
  margin-top: -5rem;
}

.image-container img {
  opacity: 0.7;
  margin-top: 20px;
  width: 100%;
}

h2 {
  padding-bottom: 20px;
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.categories {
  font-size: 1.5rem;
  font-weight: bold;
}

.categories
ul {
  line-height: 1.4;
  color: rgba(0,0,0,0,7);
}

/*Row 2*/
.projects {
  padding-top: 2rem;
}

/*Row 3*/

.footer {
  background-color: #f3f3f3;
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  padding-top: 5.4rem;
  padding-bottom: 5.4rem;
}

h4 {
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 1199px) {
  .projects {
    text-align: center;
  }
  .mobile-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .jumbotron h1 {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 893px) {
  .jumbotron h1 {
    font-size: 8rem;
    padding-top: 4rem;
  }
  .btn {
    margin-top: 6rem;
  }
}
@media only screen and (max-width: 769px) and (min-width: 310px) {
    .featured-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -9rem;
    }
    .story {
      width: 95%;
      margin: 0 auto;
      font-size: 1.3rem;
      text-align: center;
    }
    .projects {
      margin-top: 2rem;
    }
    .projects p {
      width: 95%;
      margin: 0 auto;
    }
    .jumbotron h1 {
      padding-top: 7rem;
      font-size: 5.9rem;
    }
    .jumbotron p {
      width: 95%;
      font-size: 1.3em;
    }
    .btn {
      margin-top: 7rem;
    }
    h2 {
      text-align: center;
    }
    h4{
      font-size: 2.5rem;
    }
}
